#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Poppins;
}

.grid {
  width: fit-content;
  text-align: center;

  border: 2px solid black;
  /* /* margin:  */
  margin: 0px auto;
  padding: 5px 12px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(var(--cols, 10), 35px);
  grid-template-rows: repeat(var(--rows, 10), 35px);
  gap: 2px;
}
.box {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
